<header>
    <nav>
        <div class="navflex">
            <a class="navbtn spacingnav link" href="/">Window Shop</a>
            <a class="navbtn spacingnav link" href="/products">Products Management</a>
            <a class="navbtn spacingnav link" href="/variants">Variants Management</a>
            <a class="navbtn spacingnav link" href="/images">Images Management</a>
        </div>
        <br />
        <hr />
    </nav>
</header>